<div align="center" id="datosEstudiante" class="w3-div" style="background-color:#000000; width:50%; opacity:0.8; align:center; " >	
		<form style="background-color:#000000" name="loginForm" (ngSubmit)="guardar()" >
			<h1 style="color:#ffffff"><b>FORMULARIO DE CARACTERIZACIÓN</b></h1>
			<input id="cedula" name="cedula" type="text" size="30" class="w3-input w3-hover-green" style="width:30%; height:4%" maxlength="10" placeholder="Cedula" required>
			<br/>
			<input id="usuario" name="usuario" type="text" size="30" maxlength="30" class="w3-input w3-hover-green" style="width:30%; height:4%" placeholder="Usuario UdeA" required>
			<br/>
			<input id="programa" name="programa" type="text" size="30" maxlength="30" class="w3-input w3-hover-green" style="width:30%; height:4%" placeholder="Programa academico" required>
			<br/>
			<input id="edad" name="edad" type="number" size="30" maxlength="3" class="w3-input w3-hover-green" style="width:30% ; height:4%" placeholder="Edad" required>
			<br/>
			<select id="genero" name="genero" placeholder="Genero">
				<option value="masculino">Masculino</option>
				<option value="femenino">Femenino</option>
				<option value="transgenero">Transgénero</option>
			</select>
			<br/>
			<br/>
			<input id="botonIniciar" type="submit"  class="w3-btn w3-green" value="Iniciar" >
			<input id="botonCancelar" type="button" class="w3-btn w3-red" value="Cancelar" >
			<br/>
	</form>
</div> 